 
   .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }


 a {
    display: block;
    text-decoration: none;
    border: 1px solid #413c3c; 
    border-radius: 2px;

    
  }
  

  img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
  
  .img {
    width: 350px;
    height: 250px;
  }
  
  .search-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
      background-color:  rgb(64, 64, 180);;
  }
  
  .input {
    display: flex;
    padding: 10px;

  }

  
  .search-form__submit {
    cursor: pointer;
    color: #7a7a7a;

  }
  
  .gallery {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-top: 100px;
  }
  
  .photo-card {
    max-width: 300px;
  }
  
  .info {
    display: flex;
    justify-content: space-around;
    border-radius: 4px;}
  
  
  
  .info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .load-more {
    display: block;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
    border-color: transparent;
    color: #fff;
    background-color: rgb(57, 57, 166);
  }